@model PracticasEspecializacion.Models.Agenda

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar cita</h1>

<h3>Revise la cita y confirme si desea eliminarla</h3>
<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAgenda" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
