@model IEnumerable<PracticasEspecializacion.Models.Agenda>

@using Microsoft.AspNetCore.Identity;
@using PracticasEspecializacion.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(SignInManager.IsSignedIn(User)){
    @if (UserManager.GetUserName(User) == "creneorozco@gmail.com")
    {
        <h1>Citas para pacientes</h1>

        <p>
            <a asp-action="Create">Agendar cita</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.paciente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.observacion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.paciente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.observacion)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdAgenda">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdAgenda">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdAgenda">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

    else
    {
        <h3>No tiene este privilegio</h3>
    }
}

else{
    <h3>Inicie sesión por favor</h3>
}